<%-include('portion/header'); %>
<div class="applist-wrap">
    <div class="card" style="width: 18rem;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
            <title>Placeholder</title>
            <rect fill="#868e96" width="100%" height="100%"></rect><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image
                cap</text>
        </svg>
        <div class="card-body">
            <h5 class="card-title">警务通</h5>
            <p class="card-text">警务通警务通警务通警务通</p>
            <a href="#" class="btn btn-primary">管理应用</a>
        </div>
    </div>
</div>
<%-include('portion/footer'); %>