<%-include('portion/header'); %>
<div class="applist-wrap">
    <% for (var i=0;i<listData.length;i++) {%>
    <div class="card">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
            <title>Placeholder</title>
            <rect fill="#868e96" width="100%" height="100%"></rect><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image
                cap</text>
        </svg>
        <div class="card-body">
            <h5 class="card-title">
                <%=listData[i].projectName %>
            </h5>
            <p class="card-text">
                <%=listData[i].describe %>
            </p>
            <a href="#" class="btn btn-primary">管理应用</a>
        </div>
    </div>
    <%}%>

    <div class="card" style="text-align:center;">
        <i class="fas fa-folder-plus" style="font-size:10rem;line-height:22rem;color:#ccc;"></i>
        <button type="button" class="btn btn-link" style="margin-top:-100px;" id="createBtn">新建项目</button>
    </div>


</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">新建项目</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="projectName" class="col-form-label">项目名称:</label>
                        <input type="text" class="form-control" id="projectName">
                    </div>
                    <fieldset style="border:1px solid #ccc;padding:20px;">
                        <legend style="font-size:12px;display:inline-block;width:auto;">对接网易云信</legend>
                        <div class="form-group">
                            <label for="appKey" class="col-form-label">App Key</label>
                            <input type="text" class="form-control" id="appKey">
                        </div>

                        <div class="form-group">
                            <label for="appSecret" class="col-form-label">App Secret</label>
                            <input type="text" class="form-control" id="appSecret">
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <label for="projectDescribe" class="col-form-label">项目描述:</label>
                        <textarea class="form-control" id="projectDescribe"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="doCreateBtn">确定</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#createBtn').on('click', function () {
            $('#createModal').modal()
        });

        //发起新建应用请求
        $('#doCreateBtn').on('click', function () {
            axios.post('/api/create_app?_csrf=<%=csrf%>', {
                projectName: $.trim($('#projectName').val()),
                describe: $.trim($('#projectDescribe').val())
            })
                .then(function (response) {
                    //弹出toast提示
                    $.toast({
                        // heading: 'Positioning',
                        text: '新增项目成功！',
                        position: 'top-center',
                        // stack: false
                    });
                    $('#createModal').modal('hide');
                })
                .catch(function (error) {
                    console.log(error);
                });
        });
    });
</script>
<%-include('portion/footer'); %>