</section>

<footer>
    <p style="text-align:center;line-height:50px;">YOFCloud&copy;2018-2019</p>
</footer>
</body>
<script src="./public/jquery/3.3.1/jquery-3.3.1.slim.min.js"></script>
<script src="./public/popper/1.14.6/umd/popper.min.js"></script>
<script src="./public/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</html>