</section>

<footer>
    <p style="text-align:center;line-height:50px;">YOFCloud&copy;2018-2019</p>
</footer>
</body>
<!--jquery plugin-->
<script src="http://localhost:7001/public/jqueryPlugin/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
<script src="http://localhost:7001/public/jqueryPlugin/jquery-dataTables/datatables.min.js"></script>

</html>