<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="./" />
    <title>YOFCMessenger 首页</title>
    <link rel="stylesheet" href="http://localhost:7001/public/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://localhost:7001/public/fontawesome/5.6.3/css/all.min.css" />
    <link rel="stylesheet" href="http://localhost:7001/public/theme/default/default.css" />
    <link rel="stylesheet" href="http://localhost:7001/public/jqueryPlugin/jquery-toast-plugin/1.3.2/jquery.toast.min.css" />
    <link rel="stylesheet" href="http://localhost:7001/public/jqueryPlugin/jquery-dataTables/1.10.19/css/jquery.dataTables.min.css" />

    <script src="http://localhost:7001/public/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://localhost:7001/public/popper/1.14.6/umd/popper.min.js"></script>
    <script src="http://localhost:7001/public/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="http://localhost:7001/public/axios/0.18.0/axios.min.js"></script>

</head>

<body>
    <header>
        <!--顶部导航 begin-->
        <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-primary">
            <a class="navbar-brand" href="#" style="color:#fff;">YOFCMessenger</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color:#fff;"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">项目介绍 <span class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">联系人管理</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/applist">接入应用管理</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> -->
                </ul>

                <span class="navbar-text">

                    <% if(userName) { %>
                    <span style="color:#fff;">
                        <%=userName %>,</span><a href="/logOut" style="color:#fff;">退出</a>
                    <% } else {%>
                    <a href="/signIn" style="color:#fff;">登录/注册</a>
                    <% } %>
                </span>
            </div>
        </nav>
        <!--顶部导航 end-->
    </header>

    <section class="main-container">